Repository hasadna/anyway, pull requests merged in 2020-05, with the labels that each got.

#1254 update CONTRIBUTING.md file
  docs/CONTRIBUTING.md
Labels: backend

#1275 pytest: fix marker warning, ignore library warnings
  pytest.ini
Labels: test

#1272 Use RSS for Walla
  anyway/parsers/news_flash/beautiful_soup_news_flash_parse.py
  anyway/parsers/news_flash/new_news_check.py
  anyway/parsers/news_flash/parsing_utils.py
  tests/0,7340,L-5735183,00.html
  tests/0,7340,L-5735188,00.html
  tests/0,7340,L-5735191,00.html
  tests/0,7340,L-5735195,00.html
  tests/0,7340,L-5735204,00.html
  tests/0,7340,L-5735205,00.html
  tests/0,7340,L-5735206,00.html
  tests/0,7340,L-5735210,00.html
  tests/3362389.html
  tests/3362504.html
  tests/test_news_flash.py
  tests/walla.html
  tests/walla.xml
  tests/ynet.xml
Labels: news-flash-report
